## [Start] Setting "read" to default value of "false". **
$util.qr($context.args.input.put("read", $util.defaultIfNull($ctx.args.input.read, false)))
## [End] Setting "read" to default value of "false". **
{}