## [Start] Setting "quantity" to default value of "0". **
$util.qr($context.args.input.put("quantity", $util.defaultIfNull($ctx.args.input.quantity, 0)))
## [End] Setting "quantity" to default value of "0". **
## [Start] Setting "reorderLevel" to default value of "10". **
$util.qr($context.args.input.put("reorderLevel", $util.defaultIfNull($ctx.args.input.reorderLevel, 10)))
## [End] Setting "reorderLevel" to default value of "10". **
{}