## [Start] Setting "ripsGenerated" to default value of "false". **
$util.qr($context.args.input.put("ripsGenerated", $util.defaultIfNull($ctx.args.input.ripsGenerated, false)))
## [End] Setting "ripsGenerated" to default value of "false". **
{}