## [Start] Authorization Steps. **
$util.qr($ctx.stash.put("hasAuth", true))
#set( $isAuthorized = false )
#set( $primaryFieldMap = {} )
#if( $util.authType() == "IAM Authorization" )
  #if( $util.authType() == "IAM Authorization" && $util.isNull($ctx.identity.cognitoIdentityPoolId) && $util.isNull($ctx.identity.cognitoIdentityId) )
    $util.qr($ctx.stash.put("hasAuth", true))
    #set( $isAuthorized = true )
  #else
$util.unauthorized()
  #end
#end
#if( $util.authType() == "User Pool Authorization" )
  #set( $isAuthorized = true )
  #set( $tenantIdClaim = $util.defaultIfNull($ctx.identity.claims.get("custom:tenantId"), null) )
  #if( !$util.isNull($tenantIdClaim) )

    #set( $ownerClaimsList0 = [] )
    #if( $util.isString($tenantIdClaim) )
      #if( $util.isList($util.parseJson($tenantIdClaim)) )
        #set( $tenantIdClaim = $util.parseJson($tenantIdClaim) )
      #else
        #set( $tenantIdClaim = [$tenantIdClaim] )
      #end
    #end
    $util.qr($ownerClaimsList0.addAll($tenantIdClaim))
    #if( !$util.isNull($ctx.args.tenantId) )
      #if( $util.isString($ctx.args.tenantId) )
        #set( $tenantIdCondition = (($tenantIdClaim == $ctx.args.tenantId) || $ownerClaimsList0.contains($ctx.args.tenantId)) )
      #else
        #set( $tenantIdCondition = ($tenantIdClaim == $util.defaultIfNull($ctx.args.tenantId.get("eq"), null) || $ownerClaimsList0.contains($util.defaultIfNull($ctx.args.tenantId.get("eq"), null))) )
        #if( !$tenantIdCondition )
          #set( $entityValues = 0 )
          #foreach( $argEntity in $ctx.args.tenantId.get("eq") )
            #if( $ownerClaimsList0.contains($argEntity) )
              #set( $entityValues = $entityValues + 1 )
            #end
          #end
          #if( $entityValues == $ctx.args.tenantId.get("eq").size() )
            #set( $tenantIdCondition = true )
          #end
        #end
      #end
      #if( $tenantIdCondition )
        #set( $isAuthorized = true )
        $util.qr($ctx.stash.put("authFilter", null))
      #end
    #else
      $util.qr($primaryFieldMap.put("tenantId", $tenantIdClaim))
    #end
  #end
  #if( !$isAuthorized && $util.isNull($ctx.stash.authFilter) && !$primaryFieldMap.isEmpty() )
    #set( $sortKeyFields = ["status"] )
    #foreach( $entry in $primaryFieldMap.entrySet() )
      #if( $sortKeyFields.contains($entry.key) )
        #set( $entryVal = $entry.value )
        #set( $lastIdx = $entryVal.size() - 1 )
        #set( $lastItem = $entryVal.get($lastIdx) )
        $util.qr($ctx.args.put($entry.key, {
  "eq": $lastItem
}))
      #else
        $util.qr($ctx.args.put($entry.key, $entry.value))
      #end
      #set( $isAuthorized = true )
    #end
  #end
#end
#if( !$isAuthorized && $util.isNull($ctx.stash.authFilter) )
$util.unauthorized()
#end
$util.toJson({"version":"2018-05-29","payload":{}})
## [End] Authorization Steps. **